name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build the site in the jekyll/builder container
      run: |
        docker run \
        --rm \
        -v "${{ github.workspace }}:/srv/jekyll" \
        -v "${{ github.workspace }}/_site:/srv/jekyll/_site" \
        jekyll/builder:latest /bin/bash -c "chmod -R 777 /srv/jekyll && jekyll build --future"

  deploy:
    needs:
      - build
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Sync
      uses: patrickwyler/gcs-bucket-sync-action@1.4
      with:
        secrets: ${{ secrets.google_service_account_credentials }}
        bucket: 'gameplay.critgames.com'
        sync_dir_from: '_site'
        exclude: '.*\.md$|\.gitignore$|\.git/.*$|\.github/.*$'
